/* Constantes de cores */
:root {
    --color-primary: #007BFF;
    --color-primary-dark: #0056b3;
    --color-background: #f4f4f4;
    --color-text: #333;
    --color-white: #ffffff;
    --color-border: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1,
h2,
h3 {
    color: var(--color-text);
    margin-bottom: 10px;
}

button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: var(--color-primary-dark);
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    margin-bottom: 10px;
}

.card {
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}